body{
  margin: 5em;
  background-color: #07252d;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top-width: thick ;
  border-top: solid ;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  color: grey;
  font-style: italic;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #49F64C;
}

img {
  width: 20px ;

}

nav {
  border-bottom: solid;
  border-bottom-width: thin;
}

h1 {
  border-bottom: solid;
  border-color: black;
  border-bottom-width: thick;
  color: #fff;
	text-shadow: 0 0 10px #03bcf4,
		0 0 20px #03bcf4,
		0 0 40px #03bcf4,
		0 0 80px #03bcf4,
		0 0 160px #03bcf4;
}

h2,h3 {
  color: #F65656 ;
}

p {
  color: azure;
}

